---
layout: baseLayout.njk
pathToLogo: ./img/logo-green.png
---
<header>
  <div>
    <span>
      <a href="/">
        <img src="{{pathToLogo}}" alt="{{siteTitle}}"/>
      </a>
    </span>
    <span>
      <a href="{{siteData.githubURL}}">
        Github
      </a>
    </span>
  </div>
</header>
<main>
  {{ content | safe }}
</main>